#cloud-config
hostname: OpenStackVM
fqdn: OpenStackVM.example.com
manage_etc_hosts: true
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/ubuntu
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC/zeb8QkA59kyvJ+vnQ2qbxICJaTUDX9Z/j2HIs3EyO92bpbXc9zCvb0l+iKrKC++Ed2bAC2CcBc+c+v/4BKs9MSr7Ld6Mf8cJ+umv92xHXK8pIvtkZUAEAeeKuzzQ7VyltCHs4h4He8HRB7rseRHWrxlXVN1wWcgie4PbBuBEul/aC5O9tG+pXoxuZt9WxupGmN9ye6IUMmUyB7wYT/8hwDkvwko6uxquhvTcTm9SRyes4sBBVVPvHBwLIOV386tjYEi60lNcMa3eBWs6LGH2M74Lg7niAkUd3WPFwcMZdRHsUOwLfUlsrJl5vk9u7URr/fwz7RK2c/pfvOS+oLL+9Q8t5wx97u+/rvsTSTQFFOCtCmm/l21ODr1x0zF8QEPgNyJbFOzovqbiXObr3xiPPUa/JhelHhYS32BDpBKX6gnhFnJqde1gvGbfrGOGekxkNmShkBE2Rci/i2gV0UO2aTc69kY0ZDcvOhwL0t+TkjG3BrJoLoUvfnJkbBfBmyTV7+7HIIGd1mWyjnMQb4eDnE6r/V7Q73hzFVoNCOSl3IOYNnnpfvHneCAWdu3TJ5fRy8n4UrkzGDGfVo3oIDRW8jU8vh/gqcmyVTpEC33u4XwGNq362gtURM6sQJI82REwN98QTfGFrU9pDbHQEMiwcKR2UiOEQLuJ9XYuMKvcQQ== intern4@intern4-All-Series
     
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDXR4acgWnxzTVDlhvlJv1h98Qbqf2E02wGWzdM2Oxi/10tjFncSGCTQu+QpGKA75FGd7GsaQ5rS5JnJd+pTSTqvdCw1HATihOODuONHVAYiNjhpRHtqpMpRgSczDjgDDOiPcxL9e4gs3KZwql0UIvfAhxuav6d/BY3OSLMGZtKCO4KAU5iY33V2bmopl/4LQEjSJKgCrW91bV2RY9R8wODxefYHyi5ONSUDZhfOd+IaMfpRae7nxM0DH/JRuhx/QD6EUONIATxNTJrL71U4yHPQOVtAFEBXVtK20q4wPL5566fap4dQAekVEj1nwrUgCAtbZLeISW1dWxwem4aytHWYUopAxJvg4MHfrlXyOalOnOU4xS8OWvc/2uVPHTDaWlW1YfHCh8SfIFnDdVgb7DjoIJLnqmlNfS/PCQb8+ypvNkxZqWzwtf3hFnV3F0ipwDKvHAwGusFtLGhKDvwAbOUye7ggfG/dM7icDVhUs70iG+DXM0nUU9ovjIV3vZ+r6W9KggQfWEuZRYOb5G9K8+ybvIJ6/ZryQTgmwV6MKIYlq4j+OQydeKObsWauVGP54jjMMvXu6Bl2PP1a1OzAdK2vcQ82KNRobkkZgZnCiPTB3TctRxNxj1s65GWLpnF1ZvnB8Jp1+hZ5xUYJJ+fFNCFlENbdIi0TpH4cWhFcZGWHw== test1

# only cert auth via ssh (console access can still login)
ssh_pwauth: false
disable_root: false
chpasswd:
  list: |
     ubuntu:ubuntu
  expire: False

# written to /var/log/cloud-init-output.log
final_message: "The system is finally up, after $UPTIME seconds"
